/*Стандартное обнуление*/
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
font-weight: inherit;
font-size: inherit;
}
html,body{
	height: 100%;
	line-height: 1;
}
/*Стандартное обнуление*/
.wrapper{ /*оболочка прижать футер*/
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	}
/* Все закинул в контейнер чтобы потом удобнее было делать адаптив */
[class*="__container"]{
	max-width: 1280px;
	margin: 0px auto;
	padding: 0 15px;
}
body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
main{
	flex: 1 1 auto;
}
img{
	padding-top: 110px;
	padding-bottom: 10px;
}
h1{
	text-align: center;
	font-size: 90px;
}
p{
	font-size: 11pt;
}
span{
	text-decoration: underline;
	color: #2f80ed;
}
.empty-boxes {
}
.empty-boxes__container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.number {
	margin-bottom: 22px;
}
.number__container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.eror__container {
	width: 450px;
	text-align:center;
	padding: 0, 430px;
}
.eror-hover {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}
.footer {
	padding-top: 250px; /* поставил на 30px меньше чем в брифе , не понятно зачем скролл нужен */
	padding-bottom: 30px;
}
.footer__container {
	text-align: center;
}
/* hover */
.number-hover:hover .eror-hover{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}
.footer-hover:hover .eror-hover{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}